<!-- blog/templates/blog/post_list.html -->
{% extends 'blog/base.html' %}
{% block title %}All posts{% endblock %}
{% block content %}
<h1>All posts</h1>
<ul>
  {% for post in posts %}
    <li>
      <a href="{% url 'post-detail' post.pk %}">{{ post.title }}</a>
      <small>by {{ post.author.username }} on {{ post.published_date }}</small>
      {% if post.tags.all %}
        <div>
          {% for t in post.tags.all %}
            <a href="{% url 'tag-posts' t.name %}" class="tag">#{{ t.name }}</a>
          {% endfor %}
        </div>
      {% endif %}
    </li>
  {% empty %}
    <li>No posts yet.</li>
  {% endfor %}
</ul>
{% endblock %}
